<div id="display">
    <h4>DETAILS OF  {{department.name | uppercase}}: </h4>
  <div><span>ID: </span>{{department.id}}</div>

  <div>
    <span>NAME: </span>{{department.name}}
  </div>

  <div><span>NUMBER OF EMPLOYEES: </span>{{department.nrofemployees}}</div>
  <div><span>BUILDING: </span>{{department.building}}</div>

  <div><span>EMPLOYEES: </span><li *ngFor = "let employee of department.employeesArr"> {{employee.first_name}} </li></div>

  <br>

  <button id="btn" (click)="goBack()">go back</button>
</div>