<h4 id="h">List of departments</h4>


<form  id="filter">
		<label>Filter departments by name: </label>
		<input type="text" [(ngModel)] = "term" name="term">
</form><br>

<div class = "container">
	
	<div class = "reglist">
		
		<table class = "table table-striped">
			
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Building</th>
					<th>Employees</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor = "let department of departments | filter: term" [class.selected]="department === selectedDepartment">
					<th scope="row">{{department.id}}</th>
					<td>{{department.name}}</td>
					<td>{{department.building}}</td>
					<td><li *ngFor = "let employee of department.employeesArr"> {{employee.first_name}} </li></td>
					<td>
		            	<button type="button" class="btn btn-info" (click)="onSelect(department);modify(); selectedDepartment.modify = true;">Edit</button>
		          	</td>
		          	<td>
		            	<button type="button" class="btn btn-danger" (click)="delete(department.id);">Delete</button>
		          	</td>
				</tr>
			</tbody>

		</table>

	</div>

</div>

<div id = "add" class="text-right">
	<button class="btn btn-primary" (click)="addView();">
	 New
	</button>
</div>

<app-departmentsmodify *ngIf="CanModify"  [department]="selectedDepartment"></app-departmentsmodify> 
<app-departmentsadd  *ngIf="add1"></app-departmentsadd>



