<div class = "display" *ngIf="department && department.modify">
	
	<h4>Details of {{department.name | uppercase}}: </h4>
	  <div><span>id: </span>{{department.id}}</div>
	  <div><span>Name: </span><input [(ngModel)]="department.name" placeholder="Name"></div>
	  <div><span>Number of Employees: </span><input [(ngModel)]="department.nrofemployees" placeholder="Number Of Employees"></div>
	  <div><span>Building: </span><input [(ngModel)]="department.building" placeholder="Building"></div>
	  <button id="btn" (click)="department.modify = false;">Done</button>
</div>


