/* HeroesComponent's private CSS styles */
h3 {
  margin-bottom: 0;
  padding: 0;
}
#filter{

    padding: 10px 20px 0 10px;
    float: right;
    margin: 20px 0 20px 0;
}
#h{
  margin-left: 10px;
}
#add
{
  margin: 40px 14% 0 0;
}

h4{
    margin: 20px 0 0 0;
    text-align: center;
}

.row{
      margin: 20px 0 20px 0;

}

.side1
{
  top: 30px;
  padding-top: 0;
}
#btn{
  margin: 20px 10px;
}
/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/