<div class = "display" *ngIf="department && department.modify">
	
	<h4>DETAILS OF {{department.name | uppercase}}: </h4>
	  <div><span>ID: </span>{{department.id}}</div>
	  <div><span>NAME: </span><input [(ngModel)]="department.name" placeholder="Name"></div>
	  <div><span>NUMBER OF EMPLOYEES: </span><input [(ngModel)]="department.nrofemployees" placeholder="Number Of Employees"></div>
	  <div><span>BUILDING: </span><input [(ngModel)]="department.building" placeholder="Building"></div>
	  <button class="janebtn" (click)="department.modify = false;">Done</button>
</div>


