.display{
  display: inline-block;
  position: relative;

}

#button{
	cursor: pointer;
    margin: 0px 20px 0px 10px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    font-size: 110%;
    float: right;
    transition: background-color 0.5s;
}

#button:hover {
  background-color: #607D8B;
  color: white;
  transition: background-color 0.5s;
}