<div class = "display side1" *ngIf="department">
  <h4>Add a department</h4>
  <label>Id:</label>
    <input placeholder="id" #id />
  <br>
  <label>Name:</label>
    <input placeholder="name" #name />
  <br>
  <label>Number of empoyees:</label>
    <input placeholder="number of employees" #numberofemployees />
  <br>
  <label>Building:</label>
    <input placeholder="building" #building />
  <br>
  <button id="button" (click)="add(id.value,name.value,numberofemployees.value,building.value); id.value=''; name.value=''; numberofemployees.value=''; name.building='' ">
    Done
  </button>
</div>
