<h3>List of employees</h3>

<ul class = "employees">
<li *ngFor = "let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span> {{employee.lastname}}
  </li>
</ul>
<app-employeemodify *ngIf="selectedEmployee && selectedEmployee.modify" [employee]="selectedEmployee"> </app-employeemodify>
<app-employeeadd *ngIf="add" [employee]="selectedEmployee"> </app-employeeadd>
<app-employeeview *ngIf="selectedEmployee && selectedEmployee.show" [employee]="selectedEmployee"> </app-employeeview>
<div>
<button *ngIf="selectedEmployee" class="janebtn" (click)="selectedEmployee.show = true; selectedEmployee.modify = false; add = false;">View details</button>
<button *ngIf="selectedEmployee" class="janebtn" (click)="selectedEmployee.modify = true; selectedEmployee.show = false; add = false;">
    Modify info
  </button>
<button *ngIf="selectedEmployee" class="janebtn" (click)="delete(selectedEmployee);">
    Delete
  </button>
  <button class="janebtn" (click)="add = true; selectedEmployee.modify = false; selectedEmployee.show = false;">
    Add
  </button>
</div>