<h4 id="h">List of employees</h4>

    <form  id="filter">
		<label>Filter employees by name: </label>
		<input type="text" [(ngModel)] = "term" name="term">
	</form>

<ul class="employees">
<li *ngFor = "let employee of employees| filter: term" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span> {{employee.last_name}}
  </li>
</ul>
<app-employeesview1 *ngIf="selectedEmployee && selectedEmployee.show" [employee]="selectedEmployee"></app-employeesview1>
<app-employeemodify *ngIf="selectedEmployee && selectedEmployee.modify" [employee]="selectedEmployee"> </app-employeemodify>
<app-employeeadd *ngIf="add" [employee]="selectedEmployee"> </app-employeeadd>
<div>
<button *ngIf="selectedEmployee" class="janebtn" (click)="view();">View details</button>
<button *ngIf="selectedEmployee" class="janebtn" (click)="modify();">
    Modify info
  </button>
<button *ngIf="selectedEmployee" class="janebtn" (click)="delete();">
    Delete
  </button>
  <button class="janebtn" (click)="add1();">
    Add
  </button>
</div>