s<h3>List of employees</h3>

<ul class = "employees">
<li *ngFor = "let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span> {{employee.lastname}}
  </li>
</ul>
<div>
<button *ngIf="selectedEmployee" class="janebtn" (click)="view();">View details</button>
<button *ngIf="selectedEmployee" class="janebtn" (click)="modify();">
    Modify info
  </button>
<button *ngIf="selectedEmployee" class="janebtn" (click)="delete();">
    Delete
  </button>
  <button class="janebtn" (click)="add1();">
    Add
  </button>
</div>