<h2> List of tasks </h2>

<ul class="tasks">
	<li *ngFor="let task of tasks"  [class.selected]="task === selectedTask" (click)="onSelect(task)">
		<span class="badge">{{task.id}}</span> {{task.name}}
	</li>
</ul>



<app-taskmodify *ngIf="selectedTask && selectedTask.Modify" [task]= "selectedTask"></app-taskmodify>
<app-altertaskview *ngIf="selectedTask && selectedTask.show" [task]="selectedTask"></app-altertaskview>
<app-taskadd *ngIf="add" [task] = "selectedTask"></app-taskadd>


<button *ngIf="selectedTask" class="btn" (click)="view();"> Show Details</button>

<button *ngIf="selectedTask" class="btn" (click)="modify();">Modify details</button>

<button *ngIf="selectedTask" class="btn" (click)="delete();"> Delete task</button>

<button class="btn" (click)="add1();"> Add a task</button>


