
<div class="display">
	
	<h4>{{task.name | uppercase}} Details </h4>

	<div>
  		<span>Id: </span>
  			<input [(ngModel)]="task.id" placeholder="id" class = "modelinput">
	</div>

	<div>
  		<span>Department id: </span>
  			<input [(ngModel)]="task.depID" placeholder="department id" class = "modelinput">
	</div>

	<div>
  		<span>Task name: </span>
  			<input [(ngModel)]="task.name" placeholder="name" class = "modelinput">
	</div>

	<div>
  		<span>Deadline: </span>
  			<input [(ngModel)]="task.deadline"  placeholder="deadline" class = "modelinput">
	</div>

</div>
